* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  font-family: 'Cinzel', serif;
  font-weight: 700;
  letter-spacing: 0.5px;
}

body {
  background: #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  width: 800px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.left-box {
  flex: 1;
  padding: 30px;
  background: #f4f2f1;
  color: #333;
}

.left-box h3 {
  margin-bottom: 5px;
  color: #000000;
}

.left-box p {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.5;
}

.right-box {
  flex: 1;
  padding: 30px;
  background: #f3f3f3;
  text-align: center;
}

.right-box h2 {
  margin-bottom: 20px;
}

form input,
form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #f8f5f5;
  border-radius: 5px;
}

form textarea {
  height: 100px;
  resize: none;
}

button {
  width: 100%;
  padding: 12px;
  background: #0b0b0b;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #eeeeee;
}